[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[scripts]
black = "black src/"
black_dry = "black src/ --check"
build = "python src/main.py"
dev = "python -m http.server 8000 --directory docs/"
isort = "isort src/"
isort_dry = "isort src/ --check-only"
flake8 = "flake8 src/"
html5validator = "html5validator --root docs/"
generate_docstrings = "pyment -f false -o numpydoc -w src"

[packages]
jinja2 = "*"
pyyaml = "*"
markdown = "*"
pydantic = "*"
python-slugify = "*"
pydantic-settings = "*"
lxml = "*"
prettierfier = "*"
defusedxml = "*"
beautifulsoup4 = "*"
markdown2 = {extras = ["all"], version = "*"}

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
flake8-bandit = "*"
djlint = "*"
html5validator = "*"
pyment = "*"
