<img class="cover" src="/media/images/pages/resume/cover.png" alt="resume cover image">

<h1 class="text-4xl font-semibold mb-5">CV</h1>

<hr />

{{ resume.head }}

{% if resume.experiences %}
    <h2>Experiences Professionnelles</h2>

    {% for experience in resume.experiences|reverse %}
        <section>
            <h3>{{ experience.company }}</h3>
            <p class="font-bold">{{ experience.title }} - ({{ experience.contract_type }}) : {{ experience.start_date }} -> {{ experience.end_date }}</p>

            {{ experience.body }}

            {% if experience.tags %}
                <footer>
                    {% for tag in experience.tags %}#{{ tag }} {% endfor %}
                </footer>
            {% endif %}
        </section>
    {% endfor %}
{% endif %}

{% if resume.educations %}
    <h2>Education</h2>

    {% for education in resume.educations|reverse %}
        <section>
            <h3>{{ education.title }}</h3>
            <p class="font-bold">{{ education.school }} - {{ education.formation_type }} : {{ education.start_date }} -> {{ education.end_date }} ( {{ education.status }} )</p>

            {{ education.body }}

            {% if education.tags %}
                {% for tag in education.tags %}#{{ tag }} {% endfor %}
            {% endif %}
        </section>
    {% endfor %}
{% endif %}
