{% extends "main.j2" %}

{% block title %}
    <title>Liens - {{ site.name }}</title>
{% endblock title %}

{% block metaTitle %}
    <meta name="title" content="Liens - {{ site.name }}">
{% endblock metaTitle %}

{% block linkCanonical %}
    <link rel="canonical" href="{{ site.url }}/liens/">
{% endblock linkCanonical %}

{% block content %}
    <h1 class="text-4xl font-semibold">Liens</h1>

    {% for year, links in all_links | reverse | groupby("publish_date_year") | reverse %}

        <h2 class="text-2xl font-semibold my-4 border-b border-gray-400">{{ year }}</h2>

        {% for month, links_by_month in links | groupby("publish_date_month") | reverse %}

        <h3 class="text-xl font-semibold my-4 border-b border-gray-400">{{ month[3:] }}</h3>

            <ul>
                {% for link in links_by_month | sort(attribute='publish_date', reverse=True) %}
                    <li>
                        <a href="/liens/{{ link.slug }}">{{ link.publish_date_short }} : {{ link.title }}</a>
                    </li>
                {% endfor %}
            </ul>

        {% endfor %}

    {% endfor %}
{% endblock content %}
