{% extends "main.j2" %}

{% block title %}
    <title>Liens - {{ site.name }}</title>
{% endblock title %}

{% block metaTitle %}
    <meta name="title" content="Liens - {{ site.name }}">
{% endblock metaTitle %}

{% block linkCanonical %}
    <link rel="canonical" href="{{ site.url }}/liens/">
{% endblock linkCanonical %}

{% block content %}
    <h1>Liens</h1>

    <p>Les derniers liens partagés sont accessibles également via <a href="/liens/feed.xml">RSS</a>.</p>

    {% for year, links in all_links | reverse | groupby("publish_date_year") | reverse %}

        <h2 class="link-list-header">{{ year }}</h2>

        {% for month, links_by_month in links | groupby("publish_date_month") | reverse %}

        <h3 class="link-list-header">{{ month[3:] }}</h3>

            <ul class="link-list">
                {% for link in links_by_month | sort(attribute='publish_date', reverse=True) %}
                    <li>
                        <a href="/liens/{{ link.slug }}">{{ link.title }}</a> <span>{{ link.publish_date_long }}</span>
                    </li>
                {% endfor %}
            </ul>

        {% endfor %}

    {% endfor %}
{% endblock content %}
