{% extends "main.j2" %}

{% block title %}
    <title>{{ link.title }} - Liens - {{ site.name }}</title>
{% endblock title %}

{% block metaTitle %}
    <meta name="title" content="{{ link.title }} - Liens - {{ site.name }}">
{% endblock metaTitle %}

{% block linkCanonical %}
    <link rel="canonical" href="{{ site.url }}/liens/{{ link.slug }}/">
{% endblock linkCanonical %}

{% block meta_keywords %}
    <meta name="keywords" content="{{ site.keywords | join(', ') }}, Liens, {{ link.tags | join(', ')}}">
{% endblock meta_keywords %}

{% block content %}
    <h1>{{ link.title }}</h1>

    <p>Lien d'origine : <a href="{{ link.url }}" target="_blank">{{ link.url }}</a></p>

    <hr />

    {{ link.body }}
{% endblock content %}
