<header>
  <h1>
    bruno-giarrizzo.fr
  </h1>
  <p class="subtitle">
    My little website :-)
  </p>

  {% if not all_posts and not all_links %}
  <p>Hi, I'm Bruno !</p>

  <p>I am a french freelance Developer and DevOps, working remotely, I have been working with technology since I was a kid. I help companies to develop and ship easily, secure and quality software.</p>

  <p>My skills range are from SysAdmin, Ethical Hacking, DevOps and Development.</p>

  <ul class="horizontal">
      <li><a href="/about/">Contact</a></li>
      <li><a href="/blog/">Blog</a></li>
  </ul>

  <p>If you do not see me on a keyboard, I am probably out, in some Gym, boxing, body building, or with a GamePad in my hands, playing Mario Kart, Pokemon, or some other Nintendo Retro Console.</p>
  {% endif %}
</header>
