<style>
    body { margin: 0 auto; max-width: 700px; line-height: 1.8; font-family: 'Latin Modern', Georgia, Cambria, 'Times New Roman', Times, serif; font-size: 1rem; color: #444; background-color: #fdf6e3; padding: 20px 40px; text-rendering: optimizeLegibility; }
    h1 { line-height: 1.2; text-align: center; }
    h2, h3, h4 { line-height: 1.2; border-bottom: 1px solid; }
    p { hyphens: auto; text-align: justify; }
    pre, blockquote, .code { background: #f5ead6; font-size: 0.8em; padding: 1em; overflow: scroll; border-radius: 0.5em; }
    ul, ol { list-style-type: circle; }
    a { color: #169; text-decoration: none; padding: 0.5em 0; }
    a:hover { text-decoration: underline; }
    
    nav { display: flex; align-items: center; justify-content: space-between; flex-direction: row; text-align: center; font-variant: small-caps; font-weight: bold; border-bottom: 1px solid; border-top: 1px solid; margin-bottom: 1.5em; }
    
    main { text-align: justify; }
    main hr { margin-top: 1.5em; margin-bottom: 1.5em; }

    .cover { display: block; width: 100%; border-radius: 0.5em; }

    figure { width: 65%; display: block; margin-left: auto; margin-right: auto;}
    figure img { width: 100%; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 0.5em; }
    figure figcaption { text-align: center; font-style: italic; }

    footer { margin-top: 1.5em; }
</style>
