{% extends "main.j2" %}

{% block title %}
    <title>Blog - {{ site.name }}</title>
{% endblock title %}

{% block metaTitle %}
    <meta name="title" content="Blog - {{ site.name }}">
{% endblock metaTitle %}

{% block linkCanonical %}
    <link rel="canonical" href="{{ site.url }}/blog/">
{% endblock linkCanonical %}

{% block content %}
    <h1>Blog</h1>
    
    <p>Les derniers articles du blog sont accessible également via <a href="/blog/feed.xml">RSS</a>.</p>

    {% for year, posts in all_posts | reverse | groupby("publish_date_year") | reverse %}

        <h2 class="blog-list-header">{{ year }}</h2>

        <ul class="blog-list">
            {% for post in posts | sort(attribute='publish_date', reverse=True)%}
                <li>
                    <a href="/blog/{{ post.slug }}/">{% if post.category %}{{ post.category }} -{% endif %} {{ post.title }}</a> <span>{{ post.publish_date_long }}</span>
                </li>
            {% endfor %}
        </ul>

    {% endfor %}
{% endblock content %}
