{% if post.cover %}
  <img class="cover" src="/media/images/blog/covers/{{ post.cover }}" alt="{{ post.title }}">
{% endif %}

<h1>{{ post.title }}</h1>

<p>
  Publié le {{ post.publish_date_medium }}
</p>

<div>
  {% for tag in post.tags %}#{{ tag }} {% endfor %}
</div>

<hr />

{{ post.body }}

<script src="/static/js/prism.js"></script>
