{% extends "main.j2" %}

{% block title %}
    <title>{{ post.title }} - Blog - {{ site.name }}</title>
{% endblock title %}

{% block metaTitle %}
    <meta name="title" content="{{ post.title }} - Blog - {{ site.name }}">
{% endblock metaTitle %}

{% block linkCanonical %}
    <link rel="canonical" href="{{ site.url }}/blog/{{ post.slug }}/">
{% endblock linkCanonical %}

{% block meta_keywords %}
    <meta name="keywords" content="{{ site.keywords | join(', ') }}, {{ post.tags | join(', ') }}">
{% endblock meta_keywords %}

{% block prismCss %}
    {% if post.prism_needed %}
        <link href="/static/css/prism.css" rel="stylesheet">
    {% endif %}
{% endblock prismCss %}

{% block content %}
    {% if post.cover %}
        <img class="cover" src="/media/images/blog/covers/{{ post.cover }}" alt="{{ post.title }}">
    {% endif %}

    <h1>{{ post.title }}</h1>

    <p>
        Publié le {{ post.publish_date_medium }}
    </p>

    <div>
        {% for tag in post.tags %}#{{ tag }} {% endfor %}
    </div>

    <hr />

    {{ post.body }}

    <script src="/static/js/prism.js"></script>
{% endblock %}
