<header>
    <img src="/media/images/pages/resume/cover.png" alt="">
    <h1>Resume</h1>
</header>

<article>
    
    {{ resume.head }}

    {% if resume.experiences %}
        <h2>Work Experience</h2>

        {% for experience in resume.experiences|reverse %}
            <section>
                <header>
                    <h3>{{ experience.company }}</h3>
                    <span>{{ experience.title }} - ({{ experience.contract_type }}) : </span>
                    <span>{{ experience.start_date }} - {{ experience.end_date }}</span>
                </header>
                <main>
                {{ experience.body }}
                {% if experience.tags %}
                    <p>{% for tag in experience.tags %}#{{ tag | replace(" ", "") }} {% endfor %}</p>
                {% endif %}
                </main>
            </section>
        {% endfor %}
    {% endif %}

    {% if resume.educations %}
        <h2>Education</h2>

        {% for education in resume.educations|reverse %}
            <section>
                <header>
                    <h3>{{ education.title }}</h3>                    
                </header>
                <main>
                    <span>{{ education.school }} - <b>{{ education.formation_type }}</b></span>
                    <p>{{ education.start_date }} - {{ education.end_date }} : {{ education.status }}</p>
                    {% if education.body %}
                        {{ education.body }}
                    {% endif %}
                    {% if education.tags %}
                        <p>{% for tag in education.tags %}#{{ tag }} {% endfor %}</p>
                    {% endif %}
                </main>
            </section>
        {% endfor %}
    {% endif %}

</article>