
<h1>Apprendre</h1>

{% for module in table_of_contents | sort(attribute="module_id") %}

    <h2>{{ module.module_name }}</h2>

    <p>{{ module.module_description }}</p>

    <a href="/apprendre/{{ module.module_slug }}/">Voir le module</a>

{% endfor %}

 