<h1 class="text-4xl font-semibold">{{ learn.module }}</h1>

<h2 class="text-2xl font-semibold my-4 border-b border-gray-400">{{ learn.title }}</h2>

{{ learn.body }}

<script src="/static/js/prism.js"></script>
