{% extends "main.j2" %}

{% block content %}
    <div class="homepage">
        <h1>Bruno Giarrizzo</h1>

        <h2>{{ site.description }}</h2>

        <ul class="homepage-links">
            <li>
                <a href="{{ site.github_link }}" target="_blank">Github</a>
            </li>
            <li>
                <a href="{{ site.linkedin_link }}" target="_blank">LinkedIn</a>
            </li>
        </ul>
    </div>
{% endblock content %}
