{% extends "main.j2" %}

{% block specific_css %}
    .homepage { width: 100%; text-align: center; margin: 0; position: absolute; top: 50%; transform: translateY(-50%); }
    .homepage h1 { font-size: 3em; margin-bottom: 0; }
    .homepage h2 { border-bottom: 0px; margin-top: 0.5em; }
    .homepage-links { display: flex; align-items: center; justify-content: center; flex-direction: row; list-style-type: none; margin: 0; padding: 0; }
    .homepage-links li { margin: 0 1em; font-size: 1.5em; }
    .homepage-links li a { color: #169; text-decoration: none; font-weight: bold; }
{% endblock specific_css %}

{% block content %}
    <div class="homepage">
        <h1>{{ site.name }}</h1>

        <h2>{{ site.description }}</h2>

        <ul class="homepage-links">
            <li>
                <a href="{{ site.github_link }}" target="_blank">Github</a>
            </li>
            <li>
                <a href="{{ site.linkedin_link }}" target="_blank">LinkedIn</a>
            </li>
        </ul>
    </div>
{% endblock content %}
