<h1 class="text-4xl font-semibold">Liens</h1>

{% for year, links in all_links | reverse | groupby("publish_date_year") | reverse %}

    <h2 class="text-2xl font-semibold my-4 border-b border-gray-400">{{ year }}</h2>

    {% for month, links_by_month in links | groupby("publish_date_month") | reverse %}

    <h3 class="text-xl font-semibold my-4 border-b border-gray-400">{{ month }}</h3>
    
        {% for link in links_by_month %}
            <section class="p-5 rounded-lg bg-gray-900 my-8">
                <h4 class="text-lg font-semibold">
                    <a href="{{ link.url }}">
                        {{ link.id }} - {{ link.title }}
                    </a>
                </h4>
                <div class="my-3">
                    <span class="text-gray-400">
                        Publié le {{ link.publish_date_medium }}
                    </span>
                </div>
                <div class="my-3 flex flex-wrap">
                    {% for tag in link.tags %}
                        <span class="bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 mb-2">
                            {{ tag }}
                        </span>
                    {% endfor %}
                </div>

                <hr />

                <p>{{ link.body }}</p>
            </section>
        {% endfor %}

    {% endfor %}

{% endfor %}
