<header>
  <h1>{{ link.title }}</h1>
  <p class="subtitle">Shared by <a>Bruno</a>, on {{ link.short_date }}</p>
  <p class="subtitle">Original Link : <a href="{{ link.url }}" target="_blank">{{ link.url }}</a></p>
</header>

<hr />

<article>
  {{ link.body }}
</article>
