<!DOCTYPE html>
<html lang="fr-FR" prefix="og: http://ogp.me/ns#" >
    <head>

        <!-- Favicon -->
        <link href="{{ site.url }}/static/img/cl-logo.svg" rel="icon" />

        {% include "includes/meta.j2" %}
        {% include "includes/style.j2" %}
    
    </head>

    <body>

        {% include "includes/header.j2" %}
        {% include "includes/navigation.j2" %}

        <main>
            {{ content }}
        </main>
            
        {% include "includes/footer.j2" %}
        
    </body>

</html>
